@font-face {
    font-family: 'helvetica-medium';
    src: url('HelveticaNeueLTCom-Md.woff2') format('woff2'),
        url('HelveticaNeueLTCom-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica-light';
    src: url('HelveticaNeueLTCom-Lt.woff2') format('woff2'),
        url('HelveticaNeueLTCom-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

