@import './breakpoints';
@import './fonts';

body{
    margin:0;
}

// Buttons, typography, color

$primary:#13ABE0;
$primary-hover:rgb(1, 147, 201);
$headings:rgb(99, 99, 99);
$body-text: #7B7B7B;
$primary-background: #F6FCFE;

h1,h2,h3,h4{
    font-family: 'helvetica-medium', Helvetica, sans-serif;
    color: $headings;
    padding:0;
    margin:0;
}

body{
    font-family: 'helvetica-light', Arial, Helvetica, sans-serif;
    color: $body-text;
}

.contact-button{
    color: #ffffff !important;
    text-decoration: none;
    background: $primary;
    padding: 10px;
    border: 3px solid $primary !important;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.4s ease 0s;

    @include media-breakpoint-up(sm){
        padding:15px 20px;
    }

    &:hover{
        color: #ffffff !important;
        background: $primary-hover;
        border-color: $primary-hover !important;
        transition: all 0.4s ease 0s;

    }
}

.title{
    text-align: center;
    margin:30px 0;
}

// Block styles
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;

    @include media-breakpoint-up(sm){
        height: 130px;
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.headline{
    background-color: $primary-background;
    &-inner{
        max-width: 1200px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding:30px;
        text-align: center;
        
        @include media-breakpoint-up(sm){
            flex-direction: row-reverse;
            align-items: center;
            height:500px;
            padding:0;
        }
    }
    .headline-video{
        @include media-breakpoint-up(sm){
            width:50%;
        }
    }
    .headline-text{
        @include media-breakpoint-up(sm){
            margin-right:20px;
        }
        
    }
}

.demo{
    display: flex;
    flex-direction: column;
    padding:10px;
    

    @include media-breakpoint-up(sm){
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top:30px;
    }

    .hbspt-form{
        padding: 30px;
        border: 1px solid #ccc;

        @include media-breakpoint-up(sm){
            padding:30px 50px;
        }

    }

    .subheading {
        margin-top:50px;

        @include media-breakpoint-up(sm){
            margin:0;
        }
        ul{
        list-style: none;
        padding:0;
        text-align: center;
        
            li{
                width:80%;
                margin: 0 auto;
            }
        }
    }
    
    
}

.testimonials{   
    margin:70px 0;
    @include media-breakpoint-up(sm){
        margin:80px 0;
    }
    ul{
        list-style: none;
        padding:0;
        li{
            text-align: center;

            @include media-breakpoint-up(sm){
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: left;          

                .testimonial-text p{
                    margin-left:40px;
                }
            }    
        }
    }
}

.fitur{
    background-color: $primary-background;
    padding:40px 0;
    ul{ 
        @extend .container;
        list-style: none;
        padding:0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(sm){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }

        li{
            width:280px;
            
            @include media-breakpoint-up(sm){
                margin:0 20px;
            }


            img{
                width: 100%;
            }
        }
    }
}

footer{
    margin: 0 auto;
    padding: 80px 20px 20px;
    background: #DFD9D9;

    @include media-breakpoint-up(sm){
        text-align: center;
        padding-top:80px;
    }
}

